header {
  height: 75px;
  padding: 10px 65px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebf2f2;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  width: 300px;
}

.header_navigation-item::after {
  content: url(../../assets/icons/down_arrow.svg);
  top: 0;
  left: 100px;
  display: block;
  width: 20px;
  height: 20px;
}
